<div style="padding: 30px">
  <div ng-show="!$controller.isAllSetUp">
    <h2 style="text-align:center; color:#AAA">Personnalise ta page association avant de créer un post 🙂</h2>
  </div>

  <div ng-show="$controller.isAllSetUp">
    <a ui-sref="app.postcreate">
      <button class="btn btn-success" style="margin-bottom: 10px">Créer un post</button>
    </a>

    <div ng-show="$controller.loading">
      <div class="article-preview">
        <h2 style="text-align:center; color:#AAA">Chargements des posts en cours...</h2>
      </div>
    </div>
  
    <div ng-show="!$controller.loading">
      <div ng-show="!$controller.list.length">
        <h2 style="text-align:center; color:#AAA">Il n'y a aucun post, crées-en un vite 🙂</h2>
      </div>

      <div ng-show="$controller.list.length">
        <label>Rechercher : <input ng-model="searchText" style="margin-bottom: 10px"></label>
  
        <table class="table table-striped table-hover">
          <tr>
            <th>Nom</th>
            <th>Date</th>
            <th>Likes</th>
            <th>Commentaires</th>
            <th>Actions</th>
          </tr>
          <tr ng-repeat="post in $controller.list | filter: searchText">
            <td>{{ post.title }}</a></td>
            <td>{{ post.date | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ post.likes.length }}</td>
            <td>{{ post.comments.length }}</td>
            <td><a ui-sref="app.postview({ id: post.ID})"><button class="btn btn-info">Modifier</button></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>