<div class="container">
  <div ng-show="$controller.loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Chargement des posts en cours...</span>
    </div>
  </div>

  <div ng-show="!$controller.loading">
    <div ng-show="!$controller.list.length">
      <h2 style="text-align:center; color:#AAA">Il n'y a aucun post</h2>
    </div>

    <div ng-show="$controller.list.length">
      <label>Rechercher : <input ng-model="searchText" style="margin-bottom: 10px"></label>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Association</th>
            <th>Titre</th>
            <th>Date</th>
            <th>Likes</th>
            <th>Commentaires</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="post in $controller.list | filter: searchText">
            <td>{{ post.associationName }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.date | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ post.likes.length || 0 }}</td>
            <td>{{ post.comments.length || 0 }}</td>
            <td><a ui-sref="app.postview({ id: post.ID})"><button class="btn btn-info">Modifier</button></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
