doctype html
html(ng-app="insapp")
  head
    title test
    link
  body
    div(ng-controller="SearchController")
      div(ng-repeat="asso in associations")
        h1 {{ asso.name }}
        p {{ asso.email }} | {{ asso.description }}
      hr
      div
        pre {{ newEvent }}
        form
          label Nom
          input(type="text", ng-model="newEvent.name")
          br
          label Email
          input(type="text", ng-model="newEvent.email")
          br
          label Description
          input(type="text", ng-model="newEvent.description")
        button(ng-click="addAssociation()") click me

    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.js")
    script(src="/js/custom.js")
