<div class="text-center">
  <list-errors errors="$controller.errors"></list-errors>

  <form class="form-signin" ng-submit="$controller.submitForm()">
    <img class="mb-4" src="icon.png" alt="Insapp logo" width="72" height="72">
    
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" ng-model="$controller.formData.username" class="form-control" placeholder="Email" required="" autofocus="">
    
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input type="password" id="inputPassword" ng-model="$controller.formData.password" class="form-control" placeholder="Mot de passe" required="">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>

    <p class="mt-5 mb-3 text-muted">
      En cas de mot de passe oublié, ou de demande d'ouverture de compte pour une nouvelle association, merci de nous <a href="https://www.messenger.com/t/1748990598708837">envoyer un message</a>, on répond vite !
    </p>
  </form>
</div>
