<div class="container">
  <div ng-show="!$controller.isAllSetUp">
    <h2 style="text-align:center; color:#AAA">Personnalise ta page association avant de créer un évènement 🙂</h2>
  </div>

  <div ng-show="$controller.isAllSetUp">
    <a ui-sref="app.eventcreate">
      <button class="btn btn-success" style="margin-bottom: 10px">Créer un évènement</button>
    </a>

    <div ng-show="$controller.loading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Chargement des évènements en cours...</span>
      </div>
    </div>

    <div ng-show="!$controller.loading">
      <div ng-show="!$controller.list.length">
        <h2 style="text-align:center; color:#AAA">Il n'y a aucun évènement, crées-en un vite 🙂</h2>
      </div>

      <div ng-show="$controller.list.length">
        <input type="search" class="form-control" placeholder="Filtrer..." ng-model="searchText" style="margin-bottom: 10px">
    
        <h3>Évènements à venir</h3>
    
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Début</th>
              <th>Fin</th>
              <th class="d-none d-md-table-cell">J'y vais</th>
              <th class="d-none d-md-table-cell">Peut-être</th>
              <th class="d-none d-md-table-cell">J'y vais pas</th>
              <th class="d-none d-md-table-cell">Commentaires</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in $controller.events | filter: searchText">
              <td>{{ event.name }}</td>
              <td>{{ event.dateStart | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ event.dateEnd | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td class="d-none d-md-table-cell">{{ event.participants.length || 0 }}</td>
              <td class="d-none d-md-table-cell">{{ event.maybe.length || 0 }}</td>
              <td class="d-none d-md-table-cell">{{ event.notgoing.length || 0 }}</td>
              <td class="d-none d-md-table-cell">{{ event.comments.length }}</td>
              <td><a ui-sref="app.eventview({ id: event.ID})"><button class="btn btn-info">Modifier</button></a></td>
            </tr>
          </tbody>
        </table>
    
        <h3>Évènements passés</h3>
    
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Début</th>
              <th>Fin</th>
              <th class="d-none d-md-table-cell">J'y vais</th>
              <th class="d-none d-md-table-cell">Peut-être</th>
              <th class="d-none d-md-table-cell">J'y vais pas</th>
              <th class="d-none d-md-table-cell">Commentaires</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in $controller.pastEvents | filter: searchText">
              <td>{{ event.name }}</td>
              <td>{{ event.dateStart | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ event.dateEnd | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td class="d-none d-md-table-cell">{{ event.participants.length || 0 }}</td>
              <td class="d-none d-md-table-cell">{{ event.maybe.length || 0 }}</td>
              <td class="d-none d-md-table-cell">{{ event.notgoing.length || 0 }}</td>
              <td class="d-none d-md-table-cell">{{ event.comments.length }}</td>
              <td><a ui-sref="app.eventview({ id: event.ID})"><button class="btn btn-info">Modifier</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
