var app = angular.module('insapp', ['ngRoute','ngResource','ui.bootstrap.datetimepicker', 'ngFileUpload', 'ngDialog', 'ngFileUpload', 'ngLoadingOverlay','angular-spinkit']);

app.constant('configuration', {
  api: 'https://REPLACE_WITH_YOUR_HOST/api/v1',
  cdn: 'https://REPLACE_WITH_YOUR_HOST/cdn/',
  baseUrl: '/web',
});
