<div class="container">
  <div ng-show="$controller.loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Chargement des utilisateurs en cours...</span>
    </div>
  </div>

  <div ng-show="!$controller.loading">
    <div ng-show="!$controller.list.length">
      <h2 style="text-align:center; color:#AAA">Il n'y a aucun utilisateur</h2>
    </div>

    <div ng-show="$controller.list.length">
      <label>Rechercher : <input ng-model="searchText" style="margin-bottom: 10px"></label>
      <p style="color: #AAA">{{ $controller.list.length }} utilisateurs</p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Nom</th>
            <th>Promotion</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in $controller.list | filter: searchText">
            <td>{{ user.ID }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.promotion }}</td>
            <td><button class="btn btn-danger" confirm-click="Êtes-vous sûr de vouloir supprimer cet utilisateur ?"  confirmed-click='$controller.deleteUser(user)'>Supprimer</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
