<!DOCTYPE html>
<html ng-app="insapp">
<head>
  <title>Insapp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/switch-toggle.css">

  <script src="main.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle"
         data-toggle = "collapse" data-target = "#example-navbar-collapse">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>
      <a class = "navbar-brand" href = "{{ baseUrl }}/#/myEvents">Insapp</a>
      </div>
      <div class = "collapse navbar-collapse" id = "example-navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/myEvents')}" ng-show="loggedIn" ng-click="isLoggedIn()"><a href="{{ baseUrl }}/#/myEvents">Mes événements</a></li>
          <li ng-class="{ active: isActive('/myPosts')}" ng-show="loggedIn" ng-click="isLoggedIn()"><a href="{{ baseUrl }}/#/myPosts">Mes posts</a></li>
          <li ng-class="{ active: isActive('/myAssociation')}" ng-show="loggedIn" ng-click="isLoggedIn()"><a href="{{ baseUrl }}/#/myAssociation/me">Mon association</a></li>
          <li ng-class="{ active: isActive('/users')}" ng-show="master" ng-click="isLoggedIn()"><a href="{{ baseUrl }}/#/users">Utilisateurs</a></li>
          <li ng-class="{ active: isActive('/validation')}" ng-show="master" ng-click="isLoggedIn()"class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Validation<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-show="master" ng-click="isLoggedIn()"><a href="{{ baseUrl }}/#/validationAssociation">Associations</a></li>
                <li ng-show="master" ng-click="isLoggedIn()"><a href="{{ baseUrl }}/#/validationEvent">Event</a></li>
                <li ng-show="master" ng-click="isLoggedIn()"><a href="{{ baseUrl }}/#/validationPost">Posts</a></li>
              </ul>
            </li>
          <li ng-class="{ active: isActive('/createAssociation')}" ng-show="master" ng-click="isLoggedIn()"><a href="{{ baseUrl }}/#/createAssociation">Créer une association</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="loggedIn" ng-click="isLoggedIn()"><a href="{{ baseUrl }}/#/logout"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
        </ul>
      </div>
    </div>
    </nav>
    <div style="padding-top:50px;" ng-view></div>
</body>
</html>
