<div class="container">
  <form ng-submit="$controller.createAssociation()">
    <h1 style="padding-bottom: 10px">@{{ $controller.association.name }}</h1>

    <div class="form-group">
      <label>Nom ({{ 20 - $controller.association.name.length }})</label>
      <input type="text" ng-model="$controller.association.name" ng-change="$controller.monitorLength('name', 20)" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" ng-model="$controller.association.email" class="form-control" required>
    </div>

    <button class="btn btn-primary" type="submit" ng-disabled="!$controller.association.name || !$controller.association.email">Valider</button>
  </form>
</div>
