
  <div ng-controller="CreateEvent">
      <form class="form-horizontal col-md-6" name="form" ng-submit="createEvent(form.$valid)" novalidate>
        <h1 style="padding:10px;">{{ currentEvent.name }}</h1>
        <div class="form-group">
          <label class="col-sm-2 control-label">Image</label>
          <div class="col-sm-10">
            <div ng-hide="eventImageFile" ngf-drop ng-model="eventImageFile" style="background: #F8F8F8; border: 5px dashed #DDD; width: 300px; text-align: center; padding: 50px 10px;" ngf-accept="'image/jpeg,image/png'" ngf-pattern="'.jpeg,.jpg,.png'" ngf-max-size="5MB" ngf-min-height="100" ngf-fix-orientation="true">Déposer une image ici</div>
            <img id="eventImage" ng-show="eventImageFile" class="img-rounded" height="300">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <div ng-hide="eventImageFile" class="btn btn-success" ng-model="eventImageFile" ngf-select="upload($eventImageFile)" ngf-accept="'image/jpeg,image/png'" ngf-pattern="'.jpeg,.jpg,.png'" ngf-max-size="5MB" ngf-min-height="100" ngf-fix-orientation="true">Selectionner</div>
            <div ng-show="eventImageFile" class="btn btn-danger" ng-click="removeFile()">Supprimer</div>
          </div>
        </div>
        <div class="form-group" ng-show="palette">
          <label class="col-sm-2 control-label">Couleur</label>
          <div class="col-sm-10">
            <div class="form-group" ng-style="{'background-color': 'rgb('+palette[0][0]+', '+palette[0][1]+', '+palette[0][2]+')','height':'40px', 'width':'80px', 'display':'inline-block', 'margin-left':'0px'}">
              <input type="radio" name="color" style="margin-top: 13px; margin-left:33px" ng-click="selectColor(0);" checked>
            </div>
            <div class="form-group" ng-style="{'background-color': 'rgb('+palette[1][0]+', '+palette[1][1]+', '+palette[1][2]+')','height':'40px', 'width':'80px', 'display':'inline-block', 'margin-left':'20px'}">
              <input type="radio" name="color" style="margin-top: 13px; margin-left:33px" ng-click="selectColor(1);">
            </div>
            <div class="form-group" ng-style="{'background-color': 'rgb('+palette[2][0]+', '+palette[2][1]+', '+palette[2][2]+')','height':'40px', 'width':'80px', 'display':'inline-block', 'margin-left':'20px'}">
              <input type="radio" name="color" style="margin-top: 13px; margin-left:33px" ng-click="selectColor(2);">
            </div>
            <div class="form-group" ng-style="{'background-color': 'rgb('+palette[3][0]+', '+palette[3][1]+', '+palette[3][2]+')','height':'40px', 'width':'80px', 'display':'inline-block', 'margin-left':'20px'}">
              <input type="radio" name="color" style="margin-top: 13px; margin-left:33px" ng-click="selectColor(3);">
            </div>
            <div class="form-group" ng-style="{'background-color': 'rgb('+palette[4][0]+', '+palette[4][1]+', '+palette[4][2]+')','height':'40px', 'width':'80px', 'display':'inline-block', 'margin-left':'20px'}">
              <input type="radio" name="color" style="margin-top: 13px; margin-left:33px" ng-click="selectColor(4);">
            </div>
          </div>
        </div>
        <div class="form-group">
           <label class="col-sm-2 control-label">Nom ({{ 20 - currentEvent.name.length }})</label>
           <div class="col-sm-10">
             <input type="text" ng-model="currentEvent.name" ng-change="monitorLength('name', 20)" class="form-control" required>
           </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" ng-maxlength="2000">Description ({{ 2000 - currentEvent.description.length }})</label>
          <div class="col-sm-10">
            <textarea ng-model="currentEvent.description" ng-change="monitorLength('description', 2000)" ows="3" class="form-control" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Début</label>
          <div class="col-sm-10">
            <fieldset disabled>
              <input type="text" class="form-control" placeholder="{{ currentEvent.dateStart | date:'yyyy-MM-dd HH:mm' }}">
            </fieldset>
            <datetimepicker data-ng-model="currentEvent.dateStart"></datetimepicker>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Fin</label>
          <div class="col-sm-10">
            <fieldset disabled>
              <input type="text" class="form-control" placeholder="{{ currentEvent.dateEnd | date:'yyyy-MM-dd HH:mm' }}">
            </fieldset>
            <datetimepicker data-ng-model="currentEvent.dateEnd"></datetimepicker>
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Notification Email</label>
            </div>
            <div class="col-sm-10">
                <div class="checkbox checkbox-slider--b-flat">
                    <label>
                       <input type="checkbox" ng-model="currentEvent.enableNotification"><span>Recevoir un email lorsqu'un utilisateur commente cette actualité</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Réglages</label>
          <div class="col-sm-10">
            <input type="button" ng-click="showAdvancedSettings = !showAdvancedSettings" ng-show="!showAdvancedSettings" value="Afficher les réglages avancés"/>
            <input type="button" ng-click="showAdvancedSettings = !showAdvancedSettings" ng-show="showAdvancedSettings" value="Masquer les réglages avancés"/>
          </div>
        </div>
        <div class="form-group" ng-show="showAdvancedSettings" style="margin-left:30px;">
          <label class="col-sm-2 control-label">Promotion</label>
          <table class="table table-striped table-hover">
              <tr>
                <td style="vertical-align: middle" ></td>
                <td style="vertical-align: middle" ><a ng-click="selectYear(1)">Tous<a/>/<a ng-click="deselectYear(1)">Aucun<a/></td>
                <td style="vertical-align: middle" ><a ng-click="selectYear(2)">Tous<a/>/<a ng-click="deselectYear(2)">Aucun<a/></td>
                <td style="vertical-align: middle" ><a ng-click="selectYear(3)">Tous<a/>/<a ng-click="deselectYear(3)">Aucun<a/></td>
              </tr>
              <tr ng-repeat="promo in promotionNames">
                <td style="vertical-align: middle" ><a ng-click="select(promo)">Tous<a/>/<a ng-click="deselect(promo)">Aucun<a/></td>
                <td style="vertical-align: middle" ng-show="promo != 'STPI' && promo != 'Personnel/Enseignant' && promo != 'Sans Promotion' && promo != 'Alternant'">
                    <input id="3{{ promo }}" type="checkbox" ng-model="promotions['3'+promo]"/>
                    3{{ promo }}
                </td>
                <td style="vertical-align: middle" ng-show="promo != 'STPI' && promo != 'Personnel/Enseignant' && promo != 'Sans Promotion' && promo != 'Alternant'">
                    <input id="4{{ promo }}" type="checkbox" ng-model="promotions['4'+promo]"/>
                    4{{ promo }}
                </td>
                <td style="vertical-align: middle" ng-show="promo != 'STPI' && promo != 'Personnel/Enseignant' && promo != 'Sans Promotion' && promo != 'Alternant'">
                    <input id="5{{ promo }}" type="checkbox" ng-model="promotions['5'+promo]"/>
                    5{{ promo }}
                </td>
                <td colspan="1" style="vertical-align: middle" ng-show="promo == 'STPI'">
                    <input id="1{{ promo }}" type="checkbox" ng-model="promotions['1'+promo]"/>
                    1{{ promo }}
                </td>
                <td colspan="2" style="vertical-align: middle" ng-show="promo == 'STPI'">
                    <input id="2{{ promo }}" type="checkbox" ng-model="promotions['2'+promo]"/>
                    2{{ promo }}
                </td>
                <td colspan="3" style="vertical-align: middle" ng-show="promo == 'Personnel/Enseignant' || promo == 'Sans Promotion' || promo == 'Alternant'">
                    <input id="{{ promo }}" type="checkbox" ng-model="promotions[promo]"/>
                    {{ promo }}
                </td>
              </tr>
          </table>
          <input type="button" ng-click="selectAllPromo(true)" value="Tout sélectionner"/>
          <input type="button" ng-click="selectAllPromo(false)" value="Tout désélectionner"/>
          <input type="button" ng-click="invertPromo()" value="Inverser"/>
          <br/>
          <br/>
          <!-- <div class="form-group" ng-show="showAdvancedSettings">
            <label class="col-sm-2 control-label">Plateforme</label>
            <div class="col-sm-10">
              <p><input type="checkbox" name="android" value="android" ng-model="plateforms['android']"/> Android</p>
              <p><input type="checkbox" name="ios" value="ios" ng-model="plateforms['iOS']"/> iOS</p>
            </div>
          </div> -->
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <button class="btn btn-success" type="submit" ng-disabled="form.$invalid || !eventImageFile || !currentEvent.dateEnd || !currentEvent.dateStart">Valider</button>
          </div>
        </div>
      </form>
  </div>
