
  <div ng-controller="ValidationAssociation"style="padding:30px">
    <input type="text" style="margin-bottom:10px" placeholder="Rechercher" search ng-show="allAssocations.length > 0">
    <table class="table table-striped table-hover" ng-show="myAssociations.length > 0">
      <tr>
        <th>Association</th>
        <th>Events</th>
        <th>Posts</th>
      </tr>
      <tr ng-repeat="association in myAssociations" ng-click='onclick(association)'>
        <td style="vertical-align: middle"> {{ association.name }} </td>
        <td style="vertical-align: middle"> {{ association.events.length }} </td>
        <td style="vertical-align: middle"> {{ association.posts.length }} </td>
      </tr>
    </div>
    </table>
    <h2 ng-hide="myAssociations.length > 0" style="text-align:center;color:#AAAAAA">Vous n'avez aucune association</h2>
  </div>
